@model IEnumerable<ThePetDen.Models.Orders>

@{
    ViewBag.Title = "Your Orders";

    var orders = ((List<string>)ViewData["orders"]).Distinct();
}

    <div class="container-fluid">

        <br />
        <h2 class="text-center">Your Orders</h2>
        <hr />
        @foreach (var item in orders)
        {

            <br />

            using (Html.BeginForm("OrderDetails", "Orders", FormMethod.Post))
            {
                <div class="text-center" style="border: 2px solid; border-radius: 10px; width: 50%; margin: 0 auto; background-color: #495057; color: #ffffff;">
                    <br />
                    <p>Date Created @item</p>
                    @Html.Hidden("dateCreated", item)
                    <input type="submit" value="View Details" class="btn btn-primary" />
                    <br />
                    <br />
                </div>
            }

            <br />
        }

    </div>