@model ThePetDen.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/loginStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>

        <div class="row no-gutters">

            <div class="col-lg-6 no-gutters">

                <div class="loginLeftPanel">

                    <img class="logoImg" src="~/Uploads/logo.png" alt="Pet Den Logo" />

                </div>

            </div>

            <div class="col-lg-6 no-gutters">

                <div class="loginRightPanel">

                    <div class="container-fluid loginForm">

                        <h2>Login</h2>

                        <br />

                        @using (Html.BeginForm())
                        {
                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                @Html.ValidationSummary(false, "", new { @class = "validationSummary" });

                                <br />
                                <br />
                            }

                            @Html.TextBoxFor(user => user.Email, new { @class = "form-control", @placeholder = "Enter Email" })

                            <br />

                            @Html.PasswordFor(user => user.Password, new { @class = "form-control", @placeholder = "Enter Password" })

                            <br />
                            <br />

                            <input class="btn btnLogin" type="submit" value="Login" />

                            <br />
                            <br />

                            <p>@Html.ActionLink("Go to Register", "Register", "Auth", null, new { @class = "nav-link" })</p>

                        }

                    </div>

                </div>

            </div>

        </div>

</body>
</html>
